<div class="header_main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4">
        <div class="logo_container">
          <div class="logo"><a href="<%= authenticated_root_path %>">Ecommerce</a></div>
        </div>
      </div> 
      <div class="col-lg-3 col-sm-3 col-md-3 text-lg-left text-right">
        <div class="header_search">
          <div class="header_search_content">
            <div class="header_search_form_container">
                <form action="#" class="header_search_form clearfix"> <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                  <button type="submit" class="header_search_button trans_300" value="Submit"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt=""></button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-5 col-md-5">
        <div class="row">
          <div class="col-lg-3 col-sm-3 col-md-3 first-whistel">
            <div class=""><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png" alt=""></div>
            <div class="">
              <div class="wishlist_text"><a href="#">Wishlist</a></div>
              <div class="wishlist_count">10</div>
            </div>
            </div> <!-- Cart -->
              <div class=" first-carttttt col-lg-3 col-sm-3 col-md-3">
                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                  <div class=""> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="">
                    <div class="cart_count"><span>3</span></div>
                  </div>
                  <div class="">
                    <div class="cart_text"><a href="#">Cart</a></div>
                    <div class="cart_price">$185</div>
                  </div>
                </div>
              </div>
              <% if !user_signed_in? %>
                <div class="unauthenticate-user">
                  <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                  <div><a href="<%= new_user_registration_path %>" class="register-user">Register</a></div>
                  <div class="singinnnnn"><a href="<%= new_user_session_path %>" class="sign-in-user">Sign in</a></div>
                </div>
              <% else %>
                <div class="col-sm-2 col-md-2 col-lg-2 account-avatar">
                  <li class="nav-item margin-left-menu">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle custom-tooltip" >
                        <span class="tooltiptext-profile">Profile & Account Settings</span>
                        <div class="user-image-holder">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt="">
                        </div>
                        <div class="user-profile-name">Hi, <%= current_user&.first_name %></div>
                      </a>                            
                      <ul class="dropdown-menu custom-dorpdown animated ">
                        <li class="header-dropdown">
                            <a href="<%= user_products_path(user_id: current_user.id) %>">
                            <img src="<%=image_path('person-icon.svg')%>"><span class="profile-icon">My Profile</span>
                            </a>
                        </li>
                        <li class="header-dropdown">
                            <a href="#" data-remote="true" id="edit-user-profile-btn2">
                            <img src="<%=image_path('edit-icon.png')%>"><span class="profile-icon">Edit Profile</span>
                            </a>
                        </li>
                        <li class = "header-dropdown">
                            <a id='account-setting-id' href="#">
                            <img src="<%=image_path('setting-icon.png')%>"><span class="profile-icon">Account Settings</span>
                            </a>
                        </li>
                        <li class="header-dropdown">
                            <%= link_to destroy_user_session_path, :method => 'delete', :class => 'logout_user_session' do %>
                            <i class="fa fa-sign-out" aria-hidden="true"></i><span class="profile-icon">Log Out</span>
                            <%end%>
                        </li>
                      </ul>
                  </li>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="main_nav">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <div class="main_nav_content d-flex flex-row">
          <div class="main_nav_menu">
            <ul class="standard_dropdown main_nav_dropdown">
                <li><a href="<%= authenticated_root_path %>">Home<i class="fas fa-chevron-down"></i></a></li>
                <li class="hassubs"> <a href="#">Laptop<i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li> <a href="#">Lenovo<i class="fas fa-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Lenovo 1<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="#">Lenovo 3<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="#">Lenovo 2<i class="fas fa-chevron-down"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="#">DELL<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">APPLE<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">HP<i class="fas fa-chevron-down"></i></a></li>
                    </ul>
                </li>
                <li class="hassubs"> <a href="#">Featured Brands<i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li> <a href="#">APPLE<i class="fas fa-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Laptop<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="#">Mobiles<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="#">Ipads<i class="fas fa-chevron-down"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="#">Samsung<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Lenovo<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">DELL<i class="fas fa-chevron-down"></i></a></li>
                    </ul>
                </li>
                <li class="hassubs"> <a href="#">Pages<i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li><a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="product.html">Product<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="blog_single.html">Blog Post<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="regular.html">Regular Post<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
                <li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
            </ul>
          </div> <!-- Menu Trigger -->
          <div class="menu_trigger_container ml-auto">
              <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                  <div class="menu_burger">
                      <div class="menu_trigger_text">menu</div>
                      <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
        <div class="page_menu">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page_menu_content">
                            <div class="page_menu_search">
                                <form action="#"> <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products..."> </form>
                            </div>
                            <ul class="page_menu_nav">
                                <li class="page_menu_item has-children"> <a href="#">Language<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children"> <a href="#">Currency<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item"> <a href="#">Home<i class="fa fa-angle-down"></i></a> </li>
                                <li class="page_menu_item has-children"> <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                                        <li class="page_menu_item has-children"> <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
                                            <ul class="page_menu_selection">
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children"> <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children"> <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
                            </ul>
                            <div class="menu_contact">
                                <div class="menu_contact_item">
                                    <div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570
                                </div>
                                <div class="menu_contact_item">
                                    <div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
