<div class="text-center container-fluid col-md-12 col-sm-12 col-xs-12" id="product-form">
  <h2 class="col-lg-12 user-form-align">
    <strong>Product Form</strong>
  </h2>
  <div class="card-body ">
    <%= form_with(model: [@user, product], local: true, class: 'text-center') do |form| %>
      <div class="field form-group email-username eye-main-div ">
        <%= form.text_field :name, autocomplete: "off", placeholder: "Enter Name of Product", class: "form-control input-filed" , id: 'user_product_name', required: true %>
      </div>
      <div class="field form-group email-username eye-main-div">
        <%= form.text_field :description, autocomplete: "off", placeholder: "Enter Description", class: "form-control input-filed" , id: 'user_product_description' %>
      </div>
      <div class="field form-group email-username eye-main-div">
        <%= form.number_field :price, autocomplete: "off", placeholder: "Enter Price of Product", class: "form-control input-filed" , id: 'user_product_price', required: true %>
      </div>
      <div class="field form-group email-username eye-main-div">
        <%= form.number_field :quantity, autocomplete: "off", placeholder: "Available Stock", class: "form-control input-filed" , id: 'user_product_price', required: true %>
      </div>
      <div class="field form-group email-username">
        <%= form.file_field :images, multiple: true, class: 'form-control input-filed' %>
      </div>
      <hr class='invisible'>
      <div class="md-form">
        <%= form.submit class: 'add-user-button' %>
      </div>
    <% end %>
  </div>
</div>
